# This is a basic workflow to help you get started with Actions

name: CI & CD

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Install Maven
        run: sudo apt-get update && sudo apt-get install -y maven

      - name: Build and run tests
        run: mvn clean verify
        env:
          SPRING_PROFILES_ACTIVE: dev

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: built-artifact
          path: |
            target/*.jar
            target/site/jacoco/**

  quality-code:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Install Maven
        run: sudo apt-get update && sudo apt-get install -y maven

      - name: Download built artifact
        uses: actions/download-artifact@v4
        with:
          name: built-artifact
          path: target

      - name: SonarQube analysis
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        with:
          args: >
           -Dsonar.java.binaries=target 
           -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml 
           -Dsonar.organization=jp-dev273 
           -Dsonar.projectKey=Jp-dev273_mutant-detector
        env:
          SONAR_HOST_URL: https://sonarcloud.io
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SPRING_PROFILES_ACTIVE: dev