# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Login to  Github Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.PACKAGES_TOKEN }}
        
      - name: Build Docker image
        run: docker build -t ghcr.io/${{ secrets.REGISTRY_USER }}/mutant-detector:latest .     
      
      - name: Push image
        run: docker push ghcr.io/${{ secrets.REGISTRY_USER }}/mutant-detector:latest
