# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Test and Package (maven)
        run: mvn -B -e -T 1C -P prod clean package

      - name: See secrets
        run: echo ${{secrets.REGISTRY_USER}} ${{secrets.REGISTRY_PASS}}
        
      - name: Build Docker image
        run: docker build -t ${{ secrets.REGISTRY_USER }}/mutant-detector:latest .

      - name: Login to Docker registry
        run: echo ${{ secrets.REGISTRY_PASS }} | docker login -u ${{ secrets.REGISTRY_USER }} --password-stdin
      
      - name: Push image
        run: docker push ghcr.io/Jp-dev273/mutant-detector:latest
