# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Login to Docker registry
        run: echo ${{ secrets.PACKAGES_TOKEN }} | docker login ghcr.io -u ${{ secrets.REGISTRY_USER }} --password-stdin
        
      - name: Build Docker image
        run: docker build -t ghcr.io/${{ secrets.REGISTRY_USER }}/mutant-detector:latest .     
      
      - name: Push image
        run: docker push ghcr.io/${{ secrets.REGISTRY_USER }}/mutant-detector:latest
